ul{
    list-style-type: none;
}

*{  
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}
.bg-yellow{
    background-color: #eac926;
    padding: 20px; 
    margin-top: 25px;
}
.main-header{
    width: 100%;
    background-color: #eac926;
    padding: 20px;
}
.bg-ligh-grey{
    background-color: #ebebeb;
} 
.logo{
    width: 100%;
}
.align-center {
    align-self: center;
  }
.radius-5{
    border-radius: 5px;
}
.b-none {
    border: none;
  }
.m-search{
    margin-left: 20px;
}  
.buy-header{
    font-weight: 400;
    text-align: center;
}
.hamburguer-buttom{
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.main-navbar{
    display: none;
}
.main-navbar{
    margin: 0;
    padding: 0;
}
.fs-18{
    font-size: 18px;
}
.fs-24{
    font-size: 24px;
}
.fs-16{
    font-size: 16px;
}
.fs-12{
    font-size: 12px;
}     
.mb-10{
    margin-bottom: 10px;
    margin-top: 10px;
}
.bold{
    font-weight: bold;
} 
.vw-90{
    width: 90vw; 
}
.w-100{ 
    width: 100%;
}
.w-50{
    width: 50%;
}
.center{
    text-align: center;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.bt-1{
    border-top-style: solid;
    border-top-width: 1px;
}
.border-grey{
    border-color: #ebebeb;
} 
.bg-white{
    background-color: white;
}
.discounts-green{
    color: #39b54a;
   
}
.flex-price-discount{
    display: flex;
    flex-direction: row;
}
.margin-discount{
    margin-top: 10px;
    margin-left: 15px;
}
.margin-product{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.p-right{
    padding-left: 5px;
}
.p-bot{
    padding-bottom: 15px;
}
.truck-icon {
    color: green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: -15px;
  }
  
.relative {
    position: relative;
  } 
.create-form{
    padding: 20px 15px;
}
.control-formulario{
    margin-bottom: 15px;
}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
.control{
    width: 100%;
    padding: 8px;
}
.boton-formulario{
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
.p-8{
    padding: 8px;
}
.p-20{
    padding: 20px;
}

.flex {
    display: flex;
  }
  
.flex-wrap {
    flex-wrap: wrap;
  }
  
.flex-grow {
    flex-grow: 1;
  }
  
.gap {
    gap: 10px;
  }
  
.align-center {
    align-self: center;
  }
  
.outline-none {
    outline: none;
  }
  
.hide {
    display: none;
  }
.margin-footer{
    margin-top: 20px;
    margin-bottom: 10px;
}
.ta-cr{
    text-align: left;
} 


@media (min-width: 520px) {
     
    .md-w-50 {
        width: 48%;
      }
     .md-product-shadow {
        box-shadow: 0px 0px 10px rgb(100,100,100);
}
}
@media (max-width: 760px) {
     .logo{
        width: 40%;
     }
     .search{
        position: absolute;
        left: 45%;
        top: 30px;
    }
    .buy-header{
        margin: 0;
        max-width: none;
        font-size: 16px;
        font-weight: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    } 
}
@media (min-width: 760px){
    .lg-w-25 {
        width: 23%;
      }
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    .buy-header{
        margin: 0;
        max-width: none;
        font-size: 18px;
        font-weight: 400px;
    }
    .hamburguer-buttom{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    }

@media (min-width: 1200px){
    .logo{
        width: 250px;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;

    }
    .buy-header{
        margin: 0;
        max-width: none;
        font-size: 20px;
        font-weight: 400px;
    }
    .main-navbar{
        margin-top: 40px;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }
} 

