<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/styles.css"> 

    <title>SMercado Liebre</title>
</head>

<body class="bg-light-grey "> 
    <header class="bg-yellow">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">

        <p>Acá va la barra de busqueda</p>

        <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>

    <nav>
        <ul><li><a href="#">Ofertas</a></li>
        <li><a href="#"></a>Tiendas oficiales</li>
        <li><a href="#"></a>Vender</li>
        <li><a href="#"></a>Ayudas</li>

    </ul>
    <ul>
        <li><a href="">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
        <li><a href="">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
        <li><a href="">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></i></li>
    </ul> 
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
        
    <img src="/images/img-home-banner.jpg" alt="img-home-banner.jpg">   

</nav>
</header>
<main>
    <section>
        <h2 class="p-28">
            Basado en tu última visita
        </h2>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex.jpg">
            <div>
                <p class="p-18">$6770</p>
                <p class="p-16">40% off</p>
                <h3 class="p-16">Cafetera Moulinex</h3>
                </div>
            <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019.jpg">
            <div>
                <p class="p-18">$230.000</p>
                <p class="p-16">20% off</p>
                <h3 class="p-16">MacBook Pro 2019</h3>
            </div>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10.jpg">
            <div>
                <p class="p-18">$70.500</p>
                <p class="p-16">%10 off</p>
                <h3 class="p-16">Samsung Galaxy S10</h3>
            </div>
            <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg">
            <div>
                <p class="p-18">$23.200</p>
                <p class="p-16">5% off</p>
                <h3 class="p-16">SmartTV Samsung 43"</h3>
            </div>
        </article>
    </section>    
</main>
    
</body>
<footer class="bg-yellow">
    <ul><i class="fa-solid fa-credit-card"></i>
        <li><p>Pagá con tarjeta o en efectivo<p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p></p></li>
            <i class="fa-solid fa-gift"></i>    
        <li><p>Envío gratis desde $ 2.500<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p></p></li>  
            <i class="fa-solid fa-user-shield"></i> 
        <li><p>Seguridad, de principio a fin <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p></p></li>  
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>      
    </ul>
</footer>    

</html>