<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css"> 
    <script src="https://kit.fontawesome.com/adc9d4d85c.js" crossorigin="anonymous"></script>
    <title>SMercado Liebre</title>
</head>

<body class="bg-ligh-grey"> 
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo Mercado Liebre"></a>
            <div class="p-2 w-50 align-center m-search">
                <form action="/" class=" flex bg-white border-search">
                    <input class="flex-grow b-none outline-none fs-18 fs-search border-search" type="text" name="search"
                        placeholder="Buscá productos por nombre, marcas o palabras clave" />
                    <button type="submit" class="bg-white b-none border-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <h2 class="buy-header bold">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <div>
            <a href="#" class="hamburguer-buttom">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>

    <nav class="main-navbar">
        <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas oficiales</a></li>
        <li><a href="/product">Vender</a></li>
        <li><a href="#">Ayudas</a></li>

    </ul>
    <ul class="right-navbar">
        <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
        <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
        <li><a href="#">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></i></li>
    </ul> 
       

</nav>
</header>
<main>
    <form action="/register" method="POST" class="create-form center">
    <div class="control-formulario">
        <label>Nombre y Apellido:</label>
        <input type="text" name="nombre-apellido" placeholder="Nombre y Apellido" required class="box-formulario">
    </div>
    <div class="control-formulario">
        <label>Nombre de usuari@:</label>
        <input type="text" name="usuario" placeholder="Nombre de usuario" required class="box-formulario">
    </div>
    <div class="control-formulario">
        <label>Email:</label>
        <input type="email" name="email" placeholder="E-mail" required class="box-formulario">
    </div>
    <div class="control-formulario">
        <label>Fecha de nacimiento:</label>
        <input type="date" name="fecha-nacimiento" value="2023-01-01" required class="box-formulario">
    </div>
    <div class="control-formulario">
        <label>Domicilio:</label>
        <input type="text" name="domicilio" placeholder="Calle falsa 123" required class="box-formulario">
    </div>
    <div class="control-formulario">
        <label>Perfil del usuario: </label>
        <div class="flex-register-perfil">
            <p>Comprador</p>
        <input type="radio" name="perfil-usuario" value="Comprador" required>
        <p>Vendedor</p>
        <input type="radio" name="perfil-usuario" value="Vendedor" checked required>
    </div>
        
    </div>
    <div class="control-formulario">
        <label>Categorias de interés</label>
        <div class="flex-register">
            <p>Electro</p>
            <input type="checkbox" name="categorias-de-interes" value="Electro" required>
        </div>
        
        <div class="flex-register">
            <p>Moda</p>
            <input type="checkbox" name="categorias-de-interes" value="Moda" required>
        </div>
        
        <div class="flex-register">
            <p>Hogar</p>
            <input type="checkbox" name="categorias-de-interes" value="Hogar" required>
        </div>
        
        <div class="flex-register">
            <p>Jugetería</p>
            <input type="checkbox" name="categorias-de-interes" value="Jugetería" required>
        </div>
        
        <div class="flex-register">
            <p>Vida sana</p>
            <input type="checkbox" name="categorias-de-interes" value="Vida sana" required>
        </div>
        
        
            
        </select>
    </div>
    <div class="control-formulario">
        <label>Foto de usuario</label>
        <input type="file" name="avatar" accept=".jpg .png" required>
    </div>
    <div class="control-formulario">
        <label>Contraseña</label>
        <input type="password" name="password" required class="box-formulario">
    </div>
    <div class="control-formulario">
        <label>Confirmar contraseña</label>
        <input type="password" name="confirm-password" required class="box-formulario">
    </div>
    <div class="control-formulario">
        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario">Enviar</button>
    </div>
    </form>
</main> 

</body>
<footer class="bg-ligh-grey m-footer flex-row">
    <ul class="center m-b-footer">
        <li class="margin-footer">
            <i class="fa-solid fa-credit-card fa-xl m-b-footer"></i>
            <p class = "bold">Pagá con tarjeta o en efectivo<p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p></p></li>
               
        <li class="margin-footer">
            <i class="fa-solid fa-gift fa-xl m-b-footer"></i>
            <p class="bold">Envío gratis desde $ 2.500<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p></p></li>  
             
        <li class="margin-footer">
            <i class="fa-solid fa-user-shield fa-xl m-b-footer"></i>
            <p class="bold">Seguridad, de principio a fin <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p></p></li>       
    </ul>
    <p class="ta-cr">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  
</footer>    

</html>